<div class="featured-products">
  {% for product in collections.all.products %} {% if product.tags contains
  'bottle' %}

  <div class="featured-item">
    <img
      class="featured-img"
      src="{{ product.featured_image | img_url: '600x600' }}"
      alt=""
    />
    <div class="featured-text">
      <div class="featured-title-price">
        <h2>{{ product.title }}</h2>
        <h4>{{ product.price | money }}</h4>
      </div>
      <form class="featured-cart-form" method="post" action="/cart/add">
        <input
          type="hidden"
          name="id"
          value="{{ product.variants.first.id }}"
        />
        <div class="cart-counter-wrapper">
          <button
            class="cart-btn"
            type="button"
            onclick="this.parentNode.querySelector('[type=number]').stepDown();"
          >
            -
          </button>
          <input
            class="cart-counter"
            min="1"
            type="number"
            id="quantity"
            name="quantity"
            value="1"
          />
          <button
            class="cart-btn"
            type="button"
            onclick="this.parentNode.querySelector('[type=number]').stepUp();"
          >
            +
          </button>
        </div>
        <input
          class="add-to-cart"
          type="submit"
          value="Add to cart"
          class="btn"
        />
      </form>

      <div class="featured-more-info">
        <a href="{{ product.url }}">More info</a>
      </div>
    </div>
  </div>

  {% endif %} {% endfor %}
</div>

{% schema %} { "presets": [ { "name": "HomeProducts" } ] } {% endschema %} {%
stylesheet %} :root{ --btn: #F58153; } .featured-products { display: flex;
justify-content: center; margin-top: 0rem; } .featured-item { background-color:
white; margin: 1rem; border-radius: 10px; position: relative; width: 20rem;
height: 30rem; } .featured-img { width: 35rem; margin-left: auto; margin-right:
auto; position: absolute; top: -7rem; } .featured-text { position: absolute;
bottom: 0; margin: .8rem; width: 95%; } .featured-title-price { } .featured-item
h2 { font-size: 20px; width: 80%; height: 5rem; } .featured-cart-form { display:
flex; justify-content: space-between; } .featured-more-info { font-size: 20px;
margin-top: 1rem; text-align: center; font-weight:bold; color: black; padding
:.5rem 0rem; } input { text-align: center; } input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance:
none; appearance: none; margin: 0; } .add-to-cart{ outline: inherit; border:
none; background-color: var(--btn); font-weight: bold; margin-right: 0.5rem;
padding: .75rem 1rem; border-radius: 5px; color:white; } .cart-counter-wrapper{
background-color:#EFEFEF; border-radius: 5px; } .cart-counter{ width:4rem;
background-color:#EFEFEF; margin: 0; padding: .75rem 1rem; border: none; }
.cart-btn{ border:none; margin: 0; margin: 0; border-radius: 5px; font-size:
16px; font-weight: bold; padding: .75rem 1rem; } {% endstylesheet %}
