

<div class='main-content-container'>
    <div class='product-img-container' >
        <img
        class="product-img"
        src="{{ product.featured_image | img_url: '600x600' }}"
        alt="product-img"
        />
    </div>
    <div class='product-text-container' >
        <h2 class='product-template-title'>{{product.title}}</h2>
        <section class="container">

            <nav class='tab-nav'>
                <ul class='tab-ul'>
                    <li id="tab1" class="inactive tab-li">Product Details</li>
                    <li id="tab2" class='tab-li'>Benefits</li>
                    <li id="tab3" class='tab-li'>Ingredients</li>
                </ul>
            </nav>

            <section class="tabs">
                <div id="tab1-content" class='tab-text' >
                    <p >
                     {{product.description}}
                    </p>
                </div>

                <div id="tab2-content" class='tab-text' >
                    <p >
                    Vitamin C Goals - With 610% of your daily Vitamin C per bottle, this smoothie is chock full of antioxidants.
                    No Added Sugars - No added sugars, just natural sweetness in this fruit-forward smoothie.
                    </p>
                </div>

                <div id="tab3-content" class='tab-text' >
                    <p >
                     Apple Juice, Orange Juice, Strawberries, Mangoes, Peaches, Lemon Juice, Elderberry Powder, Vitamin C (Ascorbic Acid)
                    </p>
                </div>

            </section>
        </section>
        <h4>{{product.options}}</h4>
       <div class="variant-container">
            {% for variant in product.variants %}
                    <div class="selection">
                    <input id="{{variant.title}}"  name="variant" type="radio" value="{{ variant.id }}">
                    <label class='variant-item' for="{{variant.title}}">{{variant.title}}</label>
                </div>
            {% endfor %}
        </div>

        <h4 class='product-template-price'>{{product.price | money}}</h4>

        <div class='cart-form'>
            <form class="featured-cart-form product-cart-form" method="post" action="/cart/add">
                <input
                type="hidden"
                name="id"
                id='cart-variant'
                value="{{  product.variants.first.id  }}"
                />
                <div class="cart-counter-wrapper">
                <button
                    class="cart-btn"
                    type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepDown();"
                >
                    -
                </button>
                <input
                    class="cart-counter"
                    min="1"
                    type="number"
                    id="quantity"
                    name="quantity"
                    value="1"
                />
                <button
                    class="cart-btn"
                    type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepUp();"
                >
                    +
                </button>
                </div>
                <input
                class="add-to-cart template-cart"
                type="submit"
                value="Add to cart"
                class="btn"
                />
            </form>
        </div>
    </div>

</div>


{% if product.tags contains 'greens' %}
<script>

const textContainer = document.querySelector(".product-text-container");
const imgContainer = document.querySelector(".product-img-container");
const variantItem = document.querySelectorAll(".variant-item");

imgContainer.style.backgroundColor = "#83bd54";
textContainer.style.backgroundColor = "#74D029";

$( ".variant-item" ).each(function(index) {
   $( this ).hover(
  function() {
   this.style.backgroundColor = "#83bd54";
  }, function() {
    this.style.backgroundColor = "#74D029";
  }
);
});


</script>
{% endif %}


{% stylesheet %}
    .main-content-container{
        display: flex;
        justify-content: space-between;


    }
    .product-img-container{
      background-color: #fca887;
      width: 60%;
    }
    .product-text-container{
        background-color: #f58153;
        width: 40vw;
        padding: 3rem 4rem;
    }

    .product-img{
        margin-left: 5rem;
    }
    .product-template-title{
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #011C28
    }
    .product-cart-form{
        justify-content: center;

    }
    .template-cart{
        background-color: #011C28;
        width: 16rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }
    .cart-counter-wrapper{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .main-content{
        padding: 0 !important;
    }
    .variant-container{
        display:flex;
    }
    .variant-container .selection {
    margin-bottom: 1.25rem;
    margin-right: 0.5em;

    }

    .variant-container .selection label {
    width:8em;
    border: 1px solid #011C28;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    }

    .variant-container .selection label:hover {
    background-color: #fca887;
    }

    .variant-container .selection input[type=radio] {
    display: none;
    }

    .variant-container .selection input[type=radio]:checked ~ label {
    background-color: #011C28;
    color: white;
    }

    .tab-ul {
        display: flex;
    }

    .tab-li {
        text-decoration: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
        margin-bottom: 1rem;
        margin-right: 1rem;
        font-weight:bold;

    }


    .tab-li.inactive {
    border-bottom: 1px solid;
    }

    .tab-text{
        margin-bottom: 1rem;
    }
    .container div:not(:first-of-type) {
        display: none
    }
    .recomended-title{
        font-size: 50px;
        width: 40rem;
        margin-top: 5rem;
        margin-left: 10rem;
        margin-bottom: 7rem;
    }

{% endstylesheet %}
<script>

$('input[type=radio][name=variant]').change(function() {
    const selectedID = $("input[name='variant']:checked").val();
    document.getElementById("cart-variant").value = `${selectedID}`;
});

$(function () {
    "use strict";
    $("nav ul li").on("click", function () {

        // Get The ID Of a When I Clicked
        var myID = $(this).attr("id");

        // Remove Class Inactive When I clicked And Add It In Siblings In Ul
        $(this).addClass("inactive").siblings().removeClass("inactive");

        // Hide The Div When i Clicked
        $(".container div").hide();

        // When Clicked In Li Get Div Same ID

        $("#" + myID + "-content").fadeIn(1000);
    });
});

</script>
