<div class='main-content-container'>

    <img
      class="product-img"
      src="{{ product.featured_image | img_url: '600x600' }}"
      alt="product-img"
    />
    <div class='product-text-container'>
        <h2 class='product-template-title'>{{product.title}}</h2>
        <p class='product-template-desc'>{{product.description}}</p>
        <h4 class='product-template-price'>{{product.price | money}}</h4>
        <div class='cart-form'>
            <form class="featured-cart-form product-cart-form" method="post" action="/cart/add">
                <input
                type="hidden"
                name="id"
                value="{{ product.variants.first.id }}"
                />
                <div class="cart-counter-wrapper">
                <button
                    class="cart-btn"
                    type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepDown();"
                >
                    -
                </button>
                <input
                    class="cart-counter"
                    min="1"
                    type="number"
                    id="quantity"
                    name="quantity"
                    value="1"
                />
                <button
                    class="cart-btn"
                    type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepUp();"
                >
                    +
                </button>
                </div>
                <input
                class="add-to-cart template-cart"
                type="submit"
                value="Add to cart"
                class="btn"
                />
            </form>
        </div>


    </div>

</div>

{% stylesheet %}
    .main-content-container{
        display: flex;
        justify-content: space-between;


    }
    .product-text-container{
        background-color: #f58153;
        width: 40vw;
        padding: 3rem 4rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    .product-img{
        margin-left: 5rem;
    }
    .product-template-title{
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #011C28
    }
    .product-cart-form{
        justify-content: center;

    }
    .template-cart{
        background-color: #011C28;
        width: 16rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }
    .cart-counter-wrapper{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .main-content{
        padding: 0 !important;
    }

{% endstylesheet %}
