
<div class='header-tab-wrapper'>
  <div class='header-tab-container'>

    <div class='header-wrapper'>

    <header class='header-container'>

    <nav class='nav-container header-section'>
    {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}" class='nav-li {{ link.title }}-nav'>{{ link.title }}</a>
    {% endfor %}
    </nav>
    <a href='/'><img class='header-logo header-section'  src=" {{ "pressed-logo.svg" | asset_url }}" ></a>

    <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart header-section header-cart">
                {% include 'icon-cart' %}
                <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
                  <span data-cart-count>{{ cart.item_count }}</span>
                  <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                </div>
    </a>
    </header>
    </div>
    <div class='shop-tab'>

         <i class="fas fa-times"></i>

      <div class ='shop-tab-container'>
          {% for collection in collections %}
          <a href='{{collection.url}}'>
            <div class ='shop-tab-collection'>

              <div class='shop-tab-img-container'>
                <img class='shop-tab-img shop-tab-{{collection.title}}-img' src="{{ collection.featured_image | img_url: '300x' }}">
              </div>
              <h2 class='shop-tab-title'>{{collection.title}}</h2>
              <p class='shop-tab-description'>{{collection.description}} </p>
            </div>
          </a>
          {% endfor %}
      </div>
      <div class='shop-tab-all-container'>
          <a href='/collections/all' class='shop-tab-all'>Shop All</a>
      </div>

    </div>
  </div>
</div>
<div class='quick-cart-container'>
    <h1>Cart</h1>
    <h1 class='quick-cart-clear'>clear</h1>
    <div class='quick-cart'>

    </div>
</div>
<script>

const navLi = document.querySelectorAll(".nav-li");
const shopNav = document.querySelector(".Shop-nav");
const faTimes  = document.querySelectorAll(".fa-times ");
const arrow = '<i class="fas fa-chevron-down"></i>'

$(faTimes).click( function() {
$(".header-container").removeClass("background-white");
    $(".shop-tab").removeClass("display-block")

})

  navLi[1].insertAdjacentHTML('beforeend', arrow);

$(shopNav).hover( function() {
    $(".shop-tab").addClass("display-block");
    $(".header-container").addClass("background-white");
  }
);
$('.header-tab-container').mouseleave( function() {
   $(".header-container").removeClass("background-white");
    $(".shop-tab").removeClass("display-block")
  }
);



$(function() {
    $(window).on("scroll", function() {
        if($(window).scrollTop() > 50) {
            $(".header-container").addClass("active-header");
        } else {
            //remove the background property so it comes transparent again (defined in your css)
           $(".header-container").removeClass("active-header");
        }
    });
});
</script>
