<div class='main-content-container'>
    <div class='product-img-container'>
        <img
        class="product-img"
        src="{{ product.featured_image | img_url: '600x600' }}"
        alt="product-img"
        />
    </div>
    <div class='product-text-container'>
        <h2 class='product-template-title'>{{product.title}}</h2>
        <p class='product-template-desc'>{{product.description}}</p>
        <h4 class='product-template-price'>{{product.price | money}}</h4>
       <div class="hungry">
        {% for variant in product.variants %}
                 <div class="selection">
                <input id="{{variant.title}}" name="variant" type="radio" value="{{ variant.id }}">
                <label for="{{variant.title}}">{{variant.title}}</label>
            </div>
            {% endfor %}


</div>

        {% comment %} <select class='variant-selector' name="id">
            {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                >
                {{ variant.title }} - {{ variant.price | money }}
                </option>
            {% endfor %}
        </select> {% endcomment %}
        <div class='cart-form'>
            <form class="featured-cart-form product-cart-form" method="post" action="/cart/add">
                <input
                type="hidden"
                name="id"
                id='cart-variant'
                value="{{  product.variants.first.id  }}"
                />
                <div class="cart-counter-wrapper">
                <button
                    class="cart-btn"
                    type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepDown();"
                >
                    -
                </button>
                <input
                    class="cart-counter"
                    min="1"
                    type="number"
                    id="quantity"
                    name="quantity"
                    value="1"
                />
                <button
                    class="cart-btn"
                    type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepUp();"
                >
                    +
                </button>
                </div>
                <input
                class="add-to-cart template-cart"
                type="submit"
                value="Add to cart"
                class="btn"
                />
            </form>
        </div>


    </div>

</div>

{% stylesheet %}
    .main-content-container{
        display: flex;
        justify-content: space-between;


    }
    .product-img-container{
      background-color: #fca887;
      width: 60%;
    }
    .product-text-container{
        background-color: #f58153;
        width: 40vw;
        padding: 3rem 4rem;
    }

    .product-img{
        margin-left: 5rem;
    }
    .product-template-title{
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #011C28
    }
    .product-cart-form{
        justify-content: center;

    }
    .template-cart{
        background-color: #011C28;
        width: 16rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }
    .cart-counter-wrapper{
        border-top-right-radius: 10pxpx;
        border-bottom-right-radius: 10px;
    }
    .main-content{
        padding: 0 !important;
    }
    .hungry .selection {
  margin-bottom: 1em;
}

.hungry .selection label {
  display: inline-block;
  width:8em;
  background-color: #42b4d6;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.5em;
  cursor: pointer;
}

.hungry .selection label:hover {
  background-color: #5fc0dc;
}

.hungry .selection input[type=radio] {
  display: none;
}

.hungry .selection input[type=radio]:checked ~ label {
  background-color: #f1592a;
}

{% endstylesheet %}
<script>


    $('input[type=radio][name=variant]').change(function() {
    const selectedID = $("input[name='variant']:checked").val();

    document.getElementById("cart-variant").value = `${selectedID}`;
});



</script>
