
<div class='header-tab-wrapper'>
  <div class='header-tab-container'>

    <div class='header-wrapper'>

    <header class='header-container'>
      <nav class='nav-hamburger'>
      {% include 'icon-hamburger' %}
    </nav>
    <nav class='nav-container header-section'>
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}" class='nav-li {{ link.title }}-nav'>{{ link.title }}</a>
      {% endfor %}
    </nav>
    <a href='/'><img class='header-logo header-section'  src=" {{ "pressed-logo.svg" | asset_url }}" ></a>

    <div class="site-header__icon site-header__cart header-section header-cart">
                {% include 'icon-cart' %}
                <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
                  <span class='header-cart-counter' data-cart-count>{{ cart.item_count }}</span>
                  <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                </div>
    </div>
    </header>
    </div>
 <div class='shop-tab'>

         <i class="fas fa-times"></i>

      <div class ='shop-tab-container'>
          {% for collection in collections %}
          <a href='{{collection.url}}'>
            <div class ='shop-tab-collection'>

              <div class='shop-tab-img-container'>
                <img class='shop-tab-img shop-tab-{{collection.title}}-img' src="{{ collection.featured_image | img_url: '300x' }}">
              </div>
              <p class='shop-tab-title' style="font-size: 30px; font-weight: bold;">{{collection.title}}</p>
              <p class='shop-tab-description'>{{collection.description}} </p>
            </div>
          </a>
          {% endfor %}
      </div>
      <div class='shop-tab-all-container'>
          <a href='/collections/all' class='shop-tab-all'>Shop All</a>
      </div>

    </div>
    <div class='hamburger-tab-container'>
      <div class='hamburger-tab'>

        {% for link in linklists.main-menu.links %}
          <a href="{{ link.url }}" class='hamburgerb-tab-el {{ link.title }}-hamburger'>{{ link.title }}</a>
        {% endfor %}

        <div class ='shop-tab-container hamburger-tab-container'>
            {% for collection in collections %}
          <a href='{{collection.url}}'  class =' hamburger-tab-collection'>
            <div class ='shop-tab-collection'>
              <div class='shop-tab-img-container'>
                <img class='shop-tab-img shop-tab-{{collection.title}}-img' src="{{ collection.featured_image | img_url: '300x' }}">
              </div>
              <p class='shop-tab-title' style="font-size: 30px; font-weight: bold;">{{collection.title}}</p>
              <p class='shop-tab-description'>{{collection.description}} </p>
            </div>
          </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
<div class='quick-cart-container' id="quick-cart-wrapper">
  <div class='quick-cart-header'>
    <p>Cart</p>
    <i class="fas fa-times cart-times"></i>
  </div>


    <div class='quick-cart'>


    </div>

    <div class='quick-cart-checkout-container'>
      <div class='quick-cart-total-container'>
        <h4 class='quick-cart-total'>Total:</h4>
        <p class='quick-cart-amount'></p>
      </div>
      <a href ='/checkout' class='quick-cart-checkout-btn-container'>
        <p class='quick-cart-checkout-btn add-to-cart'>Check Out</p>
      </a>
    </div>

</div>
<script>

const navLi = document.querySelectorAll(".nav-li");
const hamburgerbTabEl = document.querySelectorAll(".hamburgerb-tab-el");
console.log(hamburgerbTabEl)
const shopNav = document.querySelector(".Shop-nav");
const faTimes  = document.querySelectorAll(".fa-times ");
const arrow = '<i class="fas fa-chevron-down"></i>'

$(faTimes).click( function() {
$(".header-container").removeClass("background-white");
    $(".shop-tab").removeClass("display-block")

})
  if(navLi[2]){
navLi[2].insertAdjacentHTML('beforeend', arrow);
  }
if(hamburgerbTabEl[2]){
hamburgerbTabEl[2].insertAdjacentHTML('beforeend', arrow);
  }

$(shopNav).hover( function() {
    $(".shop-tab").addClass("display-block");
    $(".header-container").addClass("background-white");
  }
);
$('.header-tab-container').mouseleave( function() {
   $(".header-container").removeClass("background-white");
    $(".shop-tab").removeClass("display-block")
  }
);



$(function() {
    $(window).on("scroll", function() {
        if($(window).scrollTop() > 50) {
            $(".header-container").addClass("active-header");
        } else {
            //remove the background property so it comes transparent again (defined in your css)
           $(".header-container").removeClass("active-header");
        }
    });
});
</script>
